
<head>
    <script src="./libraries/rita-full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>
    <link rel="stylesheet" href="./test.css">
</head>

<div class="app">
    <input v-model="word">
    <div class="poem">
        <div v-for="word in poem">{{word}}</div>
    </div>
</div>


<style>
    body {
        margin: 0;
    }

    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .poem {
        margin-top: 20px;;
    }
</style>


<script>
    new Vue({
        el: '.app',
        data: {
            word: 'walking'
        },

        computed: {
            poem() {
                return RiTa.alliterations(this.word).slice(0, 5)
            }
        }
    })
</script>